@page "/itemProviderList";
@using EkalEntities.Models;
@using Ekal_App.Data;
@inject ItemProviderService itemProviderService;

<h3>Provider List</h3>
<hr />

@if (itemProviders == null)
{
    <p><em>Loading...</em></p>
}
else
{

<DataGrid TItem="VItemProvider" Data="@itemProviders" Sortable="true" ShowPager="true" PageSize="10" Filterable="true" TotalItems="@totalRecords"
          Style="overflow-x:scroll" Bordered="true">

    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.ItemProviderId)" Caption="ItemProviderID" Displayable="false"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.ProviderType)" Caption="ProviderType" Displayable="false"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.ProviderTypeName)" Caption="ProviderType"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.FirstName)" Caption="FirstName"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.MiddleName)" Caption="MiddleName"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.LastName)" Caption="LastName"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.MobileNo)" Caption="MobileNo"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.AltMobileNo)" Caption="AltMobileNo"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.EMail)" Caption="eMail"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.StateName)" Caption="State"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.DistrictName)" Caption="District"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.AddressLine1)" Caption="AddressLine1"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.AddressLine2)" Caption="AddressLine2"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.AddressLine3)" Caption="AddressLine3"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.Tehsil)" Caption="Tehsil"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.Pincode)" Caption="Pincode"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.StateCode)" Caption="StateCode" Displayable="false"></DataGridColumn>
    <DataGridColumn TItem="VItemProvider" Field="@nameof(VItemProvider.DistrictCode)" Caption="DistrictCode" Displayable="false"></DataGridColumn>

</DataGrid>

}

@code {

    int totalRecords = 0;
    List<VItemProvider> itemProviders = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        itemProviders = await itemProviderService.GetAsync();
        totalRecords = itemProviders.Count();
    }
}
