@page "/unit";
@using EkalEntities.Models;
@using Ekal_App.Data;
@inject UnitService service;
@inject IToastService toastService; 
 
<h3>Unit</h3>
<hr />

@if (entities != null)
{
    <form>
        <table class="form-group">
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Unit" @bind="@unit" />
                        <div class="input-group-append">
                            <button @onclick="@Save" class="btn btn-warning">Add</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
}

@if (entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="align-self-auto">

        <h5 class="text-primary">Total Records : @totalRecords</h5>
        <table class="table table-bordered table-hover table-responsive table-striped pre-scrollable">
            <thead>
                <tr>
                    <th class="d-none">UnitID</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in entities)
                {
                    <tr>
                        <td class="d-none">@entity.UnitId</td>
                        <td>@entity.Unit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    string unitID;
    string unit;

    int totalRecords = 0;

    List<MstUnit> entities = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        entities = await service.GetAsync();
        totalRecords = entities.Count();
    }

    public async Task Save()
    {
        MstUnit  entity = new MstUnit();
        entity.Unit = unit;

        if (!string.IsNullOrEmpty(unit))
        {
            var response = await service.AddAsync(entity);
            if (response)
            {
                await LoadAsync();
                ResetFields();
            }
        }
        else
        {
            toastService.ShowWarning("Please enter Unit.");
        }
    }

    private void ResetFields()
    {
        unitID = null;
        unit = string.Empty;
    }
}


